{% extends 'partial/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
  <div class="container">
    <div class="row mt-5 pt-3">
      <div class="col-md-5 offset-md-4">
        <div class="card my-1 shadow">
          <div class="card-body">
            <h2>Login Page</h2>
            <hr>
            <form method="POST">
              {% csrf_token %}
              <table>
                {{ form.as_table }}
              </table>
              <input class='btn btn-success btn-block' type="submit" name="" value="Login">
            </form>
            <hr>
            <div class="text-center my-3">
              <a href="#">Forget Password</a>
            </div>
            <hr>
            <div class="text-center">
              <a class="btn btn-warning" href="{% url 'signup' %}">Create An Account</a>
            </div>
          </div>
        </div>
      </div>
      </div>


{% endblock %}
